<launch>

    <arg name="world" default="$(find fla_description)/worlds/forest.world"/>

    <arg name="sdf" default="$(find fla_description)/models/matrice_100/matrice_100.sdf"/>
    <arg name="rcS" default="$(find fla_description)/config/sitl/matrice_100"/>


    <arg name="rviz" default="true"/>
    <arg name="record" default="false"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="vehicle" default="matrice_100"/>
    <arg name="ns" default="$(arg vehicle)"/>

    <arg name="x" default="3.0"/>
    <arg name="y" default="-2.0"/>
    <arg name="z" default="3.0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="1.57"/>
    <arg name="paused" default="false"/>

    <include file="$(find px4)/launch/mavros_posix_sitl.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="R" value="$(arg R)"/>
        <arg name="P" value="$(arg P)"/>
        <arg name="Y" value="$(arg Y)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="ns" value="$(arg ns)"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="sdf" value="$(arg sdf)"/>
        <arg name="rcS" value="$(arg rcS)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="verbose" value="$(arg verbose)"/>
    </include>

</launch>
